@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
	font-family: 'Space Mono', monospace;
}

h1 {
	font-size: 10em;
	color: purple;
	font-style: fantasy;
}

.lead  {
  font-size: 4em;
}
