/* put your page styling customisations here! */

@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
	font-family: Verdana, monospace;
	color: white;
}

h1 {
	font-size: 10em;
	color: white;
	font-style: fantasy;
}

h1,
h2,
h3 {
  text-shadow: 0 0 15px rgba(0, 0, 0, .8);
}

body {
	color: white;

}

img {
	border: 2px solid purple;
}

  border-radius: 50%;
}

footer {
	background-color: green;
}

footer a {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

footer p {
	color: black;
}

img {
	border: 2px solid purple;
}



.lead  {
  font-size: 4em;
}
.navbar-collapse {
  height: 300px;
}
#main-title {
  color: #00CED1;
}

.btn{
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); ;
}
