/* put your page styling customisations here! */

@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
	font-family: 'Space Mono', monospace;
}

h1 {
	font-size: 10em;
	color: purple;
	font-style: fantasy;
}

body {
	color:#f2f;

}



img {
	border: 2px solid purple;
	border-radius: 50%;
}



.lead  {
  font-size: 4em;
}
.navbar-collapse {
  height: 300px;
}
#main-title {
  color: #00CED1;
}

.btn{
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); ;
}