/* put your page styling customisations here! */

/*body {
  display: none;
  background: none !important;
}*/

h1 {
	font-size: 10em;
	color: purple;
	font-style: fantasy;
}

.carousel-inner .item {
  background-size: cover;
  background-position: center;
}


* {
  background: pink;
  color: pink;
}

img {
	border: 2px solid purple;
}

