body {
	background-color: black;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
	height: 400px;
	width: 420px;
	left: 40%;
}

#h1 {
	text-align: center;
	font-size: 50px;
}

p {
	text-align: center;
	font-size: 20px;
}

.backbutton {
	background-color: purple;
	box-shadow: black 1px 1px 1px 1px;
	margin-left: 20px;
}

.backbutton, a { 
	color:white;
	text-decoration: none;
}

